rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Users Collection Rule Match
    match /users/{userId} {
      allow read, write: if true;
    }

    // Companies Collection Rule Match
    match /companies/{companyId} {
      allow read, write: if true;
    }

    // Targets Collection Rule Match
    match /targets/{targetId} {
      allow read, write: if true;
    }

    // Deals Collection Rule Match
    match /deals/{dealId} {
      allow read, write: if true;
    }

    // Units Collection Rule Match
    match /units/{unitId} {
      allow read, write: if true;
    }

    // Drivers Collection Rule Match
    match /drivers/{driverId} {
      allow read, write: if true;
    }
  }
}
